<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.admin.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>customerinsert</servlet-name>
    	<servlet-class>com.admin.customerinsert</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>customerinsert</servlet-name>
    	<url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet>
		<servlet-name>updatecustomer</servlet-name>
		<servlet-class>com.admin.HotelBookingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatecustomer</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>editbooking</servlet-name>
		<servlet-class>com.admin.editBookingServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editbooking</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fullupadte</servlet-name>
		<servlet-class>com.admin.updateServlet </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fullupadte</servlet-name>
		<url-pattern>/fupdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.admin.deleteBookingServlet </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/del</url-pattern>
	</servlet-mapping>
	
	 <servlet-mapping>
	     	<servlet-name>login</servlet-name>
	     	<url-pattern>/log</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
		    <servlet-name>logout</servlet-name>
		    <servlet-class>com.customer.LogoutServlet</servlet-class>
		</servlet>

		<servlet-mapping>
		    <servlet-name>logout</servlet-name>
		    <url-pattern>/logout</url-pattern>
		</servlet-mapping>
		
		<servlet>
	     	<servlet-name>paydetails</servlet-name>
	     	<servlet-class>com.customer.PaymentServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>paydetails</servlet-name>
	     	<url-pattern>/paydetails</url-pattern>
	     </servlet-mapping>
	     
	     
	     <servlet>
	     	<servlet-name>resdetails</servlet-name>
	     	<servlet-class>com.customer.ReservationServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>resdetails</servlet-name>
	     	<url-pattern>/resdetails</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>deleteres</servlet-name>
	     	<servlet-class>com.customer.DeleteReservationServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>deleteres</servlet-name>
	     	<url-pattern>/delete</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>myres</servlet-name>
	     	<servlet-class>com.customer.MyReservationServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>myres</servlet-name>
	     	<url-pattern>/myres</url-pattern>
	     </servlet-mapping>
	     
	     <servlet>
	     	<servlet-name>update</servlet-name>
	     	<servlet-class>com.customer.UpdateReservationServlet</servlet-class>
	     </servlet>
	     
	     <servlet-mapping>
	     	<servlet-name>update</servlet-name>
	     	<url-pattern>/update</url-pattern>
	     </servlet-mapping>
	
	
	</web-app>